---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "bourbon/bourbon";



// Our variables
$base-font-family: 'Merriweather', serif;
$base-font-size:   16px;
$base-line-height: 1.5;
$header-font-family: 'Amatic SC', cursive;
$small-font-size:  $base-font-size * 0.875;

$blue: #1C2A4E;
$green: #4EB96F;
$yellow: #FFDC5D;
$black: #232323;

$button-size : 1.25rem; 
$transition: .3s;

/**
 * LMAO not using
*/
$spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    	800px;

$on-palm:          	600px;
$on-laptop:        	800px;
$large-phone:		481px;
$tablet:			768px;
$laptop:			1030px;
$high-res:			1440px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media only screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "mixins",
        "layout",
        "syntax-highlighting"
;
