/*************************************************************************
 * Navigation & Header
*************************************************************************/
.lines-button {
    display: inline-block;
    position: fixed;
    top: 2rem; right: 10%;
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 50%;
    background-color: white;
    @include transition(all $transition);
    cursor: pointer;
    user-select: none;
    z-index: 10;
    &:hover {
        opacity: 1;
        .lines {
            &:before { top: 0.35rem; background: $black; }
            &:after { top: -0.35rem; background: $black; }
        }
    }
    &:active {
        transition: 0;
    }
    &:focus {
        outline: none;
    }
    &.x.close {
        .lines {
            /*overlay the lines by setting both their top values to 0*/
            &:before, &:after{
                transform-origin: 50% 50%;
                top:0;
                width: $button-size;
                background: $black;
            }
            // rotate the lines to form the x shape
            &:before{
                transform: rotate3d(0,0,1,45deg); 
            }
            &:after{
                transform: rotate3d(0,0,1,-45deg); 
            }
        }
        // & ~ ul.navitems {
        //     display: block;
        // }
    }
    .lines {
        //create middle line
        @include line;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
        /*hide the middle line*/
        background: transparent; 
        /*create the upper and lower lines as pseudo-elements of the middle line*/
        &:before, &:after {
            @include line;
            position: absolute;
            left:0;
            content: '';
            transform-origin: 0.125rem center;
        }
        &:before { top: 0.25rem; }
        &:after { top: -0.25rem; }
    }
}

.section.header {
    position: fixed;
    top: -100%; right: 0; bottom: 100%; left: 0;
    padding: 0;
    background-color: white;
    z-index: 5;
    @include transition(all $transition);
    .container {
        position: relative;
        overflow: visible;
    }
    ul.navitems {
        display: block;
        position: absolute;
        top: 0; bottom: 0; left: 0;
        height: 50%;
        width: 100%;
        margin: auto 0;
        text-align: center;
        list-style: none;
        @include media-query($tablet) {
            width: auto;
            padding-left: 12.5%;
            text-align: left;
        }
        li {
            display: block;
            font-size: 2rem;
            margin: 1rem 0;
            a {
                color: $black;
            }
        }
    }
    .container {
        display: none;
        @include media-query($tablet) {
            display: block;
            position: absolute;
            top: 10rem; right: 0; bottom: 0;
            width: 60%;
            height: calc(100% - 10rem);
            p {
                margin: 1rem 0 0;
            }
            .section.blog {
                padding: 0;
                height: 25%;
                .post {
                    width: 100%;
                    height: 100%;
                    padding-top: 0;
                    p {
                        display: none;
                    }
                    h1 {
                        position: absolute;
                        top: 0; bottom: 0; left: 0;
                        width: 100%;
                        height: 6rem;
                        margin: auto 0;
                        font-size: 6rem;
                        text-align: center;
                    }
                    .layer {
                        height: 100%;
                    }
                }
            }
            .fw {
                height: 25%;
                h1 {
                    text-align: center;
                }
            }
        }
    }
    .social {
        position: absolute;
        right: 0; bottom: 0; left: 0;
        text-align: center;
        padding: 5% 0;
        i {
            color: $black;
            margin: 0 1rem;
        }
    }
    img {
        display: inline-block;
        position: absolute;
        top: 2rem; left: 10%;
        height: 3rem;
    }
    &.open {
        top: 0; bottom: 0;
        position: fixed;
        & ~ .section.intro img {
            // don't pretend like this isn't some sick-ass shit I just pulled with my CSS
            position: fixed;
            z-index: 6;
        }
    }
}



/*************************************************************************
 * Other Home sections
*************************************************************************/
.section.intro {
    width: 100%;
    // height: 100%;
    position: relative;
    background-image: url('https://farm9.staticflickr.com/8500/8343484593_1ffbdafe59_k.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    h1 {
//        font-family: $merriweather;
        font-size: 5rem;
        font-weight: bold;
        margin: 2rem;
        @include media-query($tablet) {
            font-size: 10rem;
        }
    }
    p {
        font-size: 1.15rem;
        @include media-query($tablet) {
            font-size: 1.5rem;
        }
    }
    img {
        display: inline-block;
        position: absolute;
        top: 2rem; left: 10%;
        height: 3rem;
    }
}

.section.portfolio {
    padding: 5rem 0 2rem;
}

.fw {
    position: relative;
    width: 100%;
    height: 50%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;
    @include transition(all $transition);
    @include media-query($tablet) {
        background-size: 100% auto;
    }
    .layer {
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: 100%;
        background-color: rgba(black, 0.45);
        color: white;
        @include transition(all $transition);
        h1 {
            position: absolute;
            top: 0; bottom: 0; left: 0;
            width: 100%;
            height: 6rem;
            margin: auto 0;
            font-size: 3.75rem;
            text-align: center;
            @include media-query($tablet) {
                font-size: 6rem;
            }
        }
    }
    &:hover {
        background-size: auto 110%;
        @include media-query($tablet) {
            background-size: 110% auto;
        }
    }
    &.cardsfest {
        background-image: url('/images/portfolio-cardsfest.jpg');
    }
    &.cardshirt {
        background-image: url('/images/portfolio-cardshirt.jpg');
    }
    &.rjlou {
        background-image: url('https://farm4.staticflickr.com/3093/2572326342_0c64b0aafe_o.jpg');
    }
    &.hackhi {
        background-image: url('/images/portfolio-hackhi.png');
    }
    &.bonso {
        background-image: url('/images/portfolio-bonso.jpg');
    }
    &.christmas {
        background-image: url('/images/portfolio-christmas-site.png');
    }
    &.blofish {
        background-image: url('/images/portfolio-blofish.png');
    }
    &.draftmean {
        background-image: url('/images/portfolio-draftmean.jpg');
    }
    // &.bus275 {
    //     background-image: url('/images/BUS275_solarroadways-handout.png');
    // }
    // &.cybernations {
    //     background-image: url('/images/cybernations-mockup-cover.png');
    // }
    // &.portfolio {
    //     background-image: url('/images/portfolio-mascots.png');
    // }
    &.cybernations, &.database, &.writing {
        background-color: $blue;
    }
    &.bus275, &.portfolio, &.languages {
        background-color: $green;
    }
}

.section.about {
    background-color: $blue;
    color: white;
    padding-bottom: 0;
    img {
        width: 50%;
        display: block;
        margin: 3rem auto 0;
        @include media-query($tablet) {
            width: 25%;
        }
    }
}

.section.blog {
    padding-bottom: 0;
    .container {
        margin-bottom: 2rem;
    }
    .post {
        position: relative;
        width: 100%;
        height: 20rem;
        padding-top: 3rem;
        float: left;
        background-size: cover;
        background-position: center;
        @include media-query($tablet) {
            width: 50%;
            height: 25rem;
        }
        .layer {
            position: absolute;
            right: 0; bottom: 0; left: 0;
            padding: 0 12.5%;
            color: white;
            @include background-image(linear-gradient(to top, $black, transparent));
            h1 {
                font-size: 3rem;
                text-align: center;
            }
        }
        &.forest {
            background-image: url('https://farm9.staticflickr.com/8500/8343484593_1ffbdafe59_k.jpg');
        }
    }
    .postnew {
        width: 100%;
        .image {
            width: 100%;
            height: 20rem;
            margin-bottom: 2rem;
            background-size: cover;
            background-position: center;
            @include media-query($tablet) {
                height: 25rem;
            }
            &.forest {
                background-image: url('https://farm9.staticflickr.com/8500/8343484593_1ffbdafe59_k.jpg');
            }
        }
        h1 a {
            color: black;
        }
        p.details {
            text-align: center;
            font-size: 1rem;
        }
    }
    &.home {
        .post {
            .layer {
                p {
                    @media only screen and (max-width: $large-phone) {
                        // display: none;
                    }
                }
            }
        }
    }
}

.section.contact {
    background-color: $green;
    color: white;
    // h1 {
    //     margin-top: 0;
    // }
    i {
        position: relative;
        padding: 1rem;
        margin: 0 0.5rem;
        color: $green;
        background-color: $black;
        border-bottom: solid 0.25rem lighten($black, 35%);
        border-right: solid 0.25rem lighten($black, 35%);
        border-radius: 50%;
        @include transition(all $transition);
        &.fa-facebook {
            padding: 1rem 1.30rem;
        }
        &.fa-linkedin {
            padding: 1rem 1.1rem;
        }
        &:hover {
            border-bottom: 0;
            border-right: 0;
        }
    }
    .img {
        height: 7rem;
        width: 7rem;
        margin: 0 auto;
        border-radius: 50%;
        background-image: url('/images/mrwoodwardhimself.jpg');
        background-size: cover;
        background-position: center;
        @include media-query($tablet) {
            height: 15rem;
            width: 15rem;
        }
    }
    form {
        width: 100%;
        label {
            display: block;
        }
        input[type=text], textarea {
            width: 100%;
            padding: 0.5rem 1rem;
            font-size: 1.15rem;
            border: 0;
            border-radius: 1.075rem;
            font-family: $base-font-family;
            text-align: center;
        }
        textarea {
            height: 10rem;
            text-align: left;
        }
        .group {
            width: 40%;
            margin: 0 auto;
            padding: 1rem 0;
        }
    }
}

.section.footer {
    padding: 1rem 0;
    text-align: center;
    color: white;
    background-color: $black;
}

/*
 * Posts
*/

.post {
    img.logo {
        display: inline-block;
        position: absolute;
        top: 2rem; left: 10%;
        height: 3rem;
    }
    .image {
        position: static;
        width: 100%;
        height: auto;
        color: white;
        background-size: cover;
        background-position: center;
        z-index: 1;
        @include transition(background-image $transition);
        @include media-query($tablet) {
            position: fixed;
            top: 0; right: 0;
            width: 45%;
            height: 100%;
        }
        .content {
            text-align: center;
            padding: 7rem 0 3rem;
            @include background-image(radial-gradient(ellipse closest-side, rgba($black, 0.75), transparent));
            a {
                color: white;
            }
            @include media-query($tablet) {
                position: absolute;
                top: 0; left: 0; bottom: 0;
                height: 20rem;
                width: 100%;
                margin: auto 0;
                padding: 8rem 0 0;
            }
        }
        &.forest {
            background-image: url('https://farm9.staticflickr.com/8500/8343484593_1ffbdafe59_k.jpg');
        }
        &.cardsfest {
            background-image: url('/images/portfolio-cardsfest.jpg');
            // &:hover {
            //     background-image: url('/images/fullscreen-sites/cardsfest.png');
            // }
        }
        &.cardshirt {
            background-image: url('/images/portfolio-cardshirt.jpg');
        }
        &.rjlou {
            background-image: url('https://farm4.staticflickr.com/3093/2572326342_0c64b0aafe_o.jpg');
        }
        &.hackhi {
            background-image: url('/images/portfolio-hackhi.png');
        }
        &.bonso {
            background-image: url('/images/portfolio-bonso.jpg');
        }
        &.christmas {
            background-image: url('/images/portfolio-christmas-site.png');
        }
        &.bus275 {
            background-image: url('/images/BUS275_solarroads-handoutexplaination.png');
        }
        &.cybernations {
            background-image: url('/images/cybernations-mockup-cover.png');
        }
        &.portfolio {
            background-image: url('/images/portfolio-mascots.png');
        }
        &.database, &.writing {
            background-color: $blue;
        }
        &.languages {
            background-color: $green;
        }
        &.blofish {
            background-image: url('/images/portfolio-blofish.png');
        }
        &.draftmean {
            background-image: url('/images/portfolio-draftmean.jpg');
        }
    }
    .section.content {
        padding-bottom: 0;
        .highlight {
            text-align: left;
            pre {
                max-height: 35rem;
                overflow: all-scroll;
            }
        }
    }
    @include media-query($tablet) {
        .section {
            width: 55%;
            &.content {
                padding-top: 8rem;
            }
        }
    }
}


/*
 * Other styles
*/
a.more {
    display: block;
    height: auto;
    background-color: $yellow;
    font-size: 1rem;
    padding: 1rem 0;
    color: black;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    border-bottom: 0.25rem solid darken($yellow, 25%);
    cursor: pointer;
    clear: both;
    @include transition(background-color $transition);
    @include media-query($tablet) {
        font-size: 2rem;
    }
    &:hover {
        background-color: darken($yellow, 10%);
    }
}