---
layout:	default
---

<div class="section intro">

  <a href="/"><img class="logo" src="/images/logo.png"></a>
  <h1>Blog</h1>

</div>

<div class="section blog">

	<div class="container">

		<!-- <h1>All the Blog Posts</h1>
		<p>
			Sadly, I haven't figured out a solid style for my blog yet. Still working on that. I didn't want to hold up the development of the rest of my website for a blog I might not even use extensively though, and it's not like this is <em>horrible</em> or anything. Who knows, maybe one day I'll even get to paginate this bad boy.
		</p> -->

		{% for post in site.categories.blog %}
		<div class="postnew">

			<h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
			<p class="details">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • <a href="{{ post.authorlink }}">Source: {{ post.author }}</a>{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
			<a href="{{ post.url | prepend: site.baseurl }}">

				<div class="image {{ post.image }}"></div>

			</a>
		    <p>
		        {{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}
		    </p>

		</div>
		{% endfor %}

		<!-- <div class="post {{ post.image }}">

			<a href="{{ post.url | prepend: site.baseurl }}">

			  <div class="layer">

			    <h1>{{ post.title }}</h1>
			    <p>
			        {{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}
			    </p>

			  </div>

			</a>

		</div> -->

	</div>

</div>