---
layout:	default
---

<div class="section intro">

	<a href="/"><img class="logo" src="/images/logo.png"></a>
	<h1>Zach Woodward</h1>

</div>

<div class="section content">

	<div class="container">

		<h1>Web Development</h1>
		<p>
			Below are all of websites that I've ever designed, developed, and stored on my computer - i.e., the ones that I'm not horribly ashamed of. Some were for clients, and some were just for myself. Hopefully you like them!
		</p>

	</div>

</div>

{% assign sorted_websites = site.categories.portfolio | sort: 'priority' %}
{% for website in sorted_websites %}
{% if website.tags contains 'web' %}
<a href="{{ website.url | prepend: site.baseurl }}">

  <div class="fw {{ website.image }}">

    <div class="layer">

      <h1>{{ website.title }}</h1>

    </div>

  </div>

</a>
{% endif %}
{% endfor %}

<div class="section content">

	<div class="container">

		<h1>Design Projects</h1>
		<p>
			While I certainly don’t consider myself a graphic designer (you won’t see any legitimate logo work in here to speak of, for instance), I’m artistic enough that I enjoy dabbling in the world of digital design. From using Photoshop to mock up website proposals for clients to making paper handout designs that professors call the best student design they’ve ever seen, I’ve had a go at pretty much all of it. It’s something that I consider very unique about myself, since most developers that I’ve met don’t understand the world of design at best, and loathe it at worst. Plus, having design skills makes me more valuable when I sell myself for side projects – I don’t just design cool sites or come up with insane backend functionality, I can and will do both.
		</p>

	</div>

</div>

{% assign sorted_websites = site.categories.portfolio | sort: 'title' %}
{% for website in sorted_websites %}
{% if website.tags contains 'design' %}
<a href="{{ website.url | prepend: site.baseurl }}">

  <div class="fw {{ website.image }}">

    <div class="layer">

      <h1>{{ website.title }}</h1>

    </div>

  </div>

</a>
{% endif %}
{% endfor %}

<div class="section content">

	<div class="container">

		<h1>Other Work</h1>
		<p>
			There was a lot of code and technical documents that I wrote throughout school or other events that doesn't exactly fall into the category of "complete websites that I've built" or "full design projects", and I'd like to give that code its moment of glory/shame. You probably aren't interested, which is why I stuck it at the bottom of this page. Please feel free to stop scrolling at this point if that's the case; there's nothing more to see afterwards (except that sweet, sweet footer).
		</p>

	</div>

</div>

{% assign sorted_websites = site.categories.portfolio | sort: 'title' %}
{% for website in sorted_websites %}
{% if website.tags contains 'other' %}
<a href="{{ website.url | prepend: site.baseurl }}">

	<div class="fw {{ website.image }}">

		<div class="layer">

			<h1>{{ website.title }}</h1>

		</div>

	</div>

</a>
{% endif %}
{% endfor %}