---
layout: default
---
<div class="post">

  <a href="/"><img class="logo" src="/images/logo.png"></a>

  <div class="image {{ page.image }}">

  	<div class="content">

	    <h1 class="post-title">{{ page.title }}</h1>
	    <p class="post-meta">
	    	{{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}
	    </p>
      <p class="post-meta">
        {% if page.author %}<a href="{{ page.authorlink }}">Source: {{ page.author }}</a>{% endif %}
      </p>

	</div>

  </div>

  <div class="section content">

  	<div class="container">

    	{{ content }}

	</div>

	<a href="/{{ page.categories | first }}/" class="more"><i class="fa fa-hand-o-left"></i> {{ page.categories | first }}</a>

  </div>

  <div class="section footer">

	<p>&copy; Zach Woodward {{ site.time | date: '%Y' }}</p>
  
  </div>

</div>
